# Postgres DB
POSTGRES_USER=xxxclub_scraper
POSTGRES_PASSWORD=xxxclub_scraper
POSTGRES_DB=xxxclub
POSTGRES_HOST_PORT=5432

# Scraper settings
BASE_URL=https://xxxclub.to
SCRAPE_INTERVAL=3600 # 1 hour
MAX_PAGES=10

# Web UI settings
WEB_UI=false
WEB_PORT=5000